body{
    margin: 0;
    padding: 0;
}.nav{
    position: fixed;
    background-color: transparent;
    overflow:hidden;
    padding: 30px;
    font-size: 20px;
    z-index:10;
    width: 100%;
    
transition: all 0.5s;}
.nav.active{
    background-color: rgb(40, 40, 105);
    overflow:hidden;
    padding: 35px;
    font-size: 20px;
    transition: all 0.5s;
}@media (max-width:767.98px){
    .nav{
        position: fixed;
    background-color: transparent;
    overflow:hidden;
    padding: 10px;
    font-size: 20px;
    z-index:10;
    width: 100%;
    }.nav.active{
        background-color: rgb(40, 40, 105);
        overflow: hidden;
        z-index: 10;
        padding: 10px;
        font-size: 20px;
        transition: all 0.5s;
        
}}
#logo{
    position: fixed;
    width: 100px;
    margin-top: 1px;
    margin-left: 10px;
    z-index: 102;
}@media (max-width:767.98px){
    #logo{
        position: fixed;
        width:45px;
    }
}
 nav ul{
    display: flex;
    padding-right: 20px;
    margin: 0;
    list-style: none;
    justify-content: end;
    top:0;
align-items: center;}
    .header ul{
        display: flex;
        padding: 0;
        margin: 0 0 0 150px;
        list-style: none;
    
}
@media (max-width:767.98px){
    nav ul{
        display: flex;
        padding-right: 20px;
        margin:0;
        list-style: none;
        align-items: center;
        top:0;
        justify-content: end;
        
        
    }.header ul{
        display: flex;
        padding: 0;
        margin:0;
        list-style: none;
        align-items: flex-end;
}}
nav ul li{
    display: inline-flex;
    align-items: flex-end;
    padding-right: 10px;
    
}@media (max-width: 767.98px){
    nav ul li {
        align-items: flex-end;
        display: inline-flex;

    };
}
nav ul li a{
    text-decoration: none;
    width: 100%;
    padding: 20px 15px;
    color: gold;
}@media (max-width: 767.98px){
    nav ul li a{
        font-size: 10px;
        padding:20px 7px;
    };
}
.shop{
object-fit:cover;
    width: 100%;
    height: 500px;
    
}.cont{
    display: flex;
    justify-content: center;
        flex-wrap: wrap;
        font-family: garamond;
        font-size: 30px;
        font-style: italic;
        margin: 10px;
        width:100%;}
@media (max-width: 767.98px){

.cont{
    padding-left: 30px;
align-content: center;
    font-family: garamond;
    font-size: 30px;
    font-style: italic;
    margin: 10px;
    width:100%;}
}.cont2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top:185px;
position: absolute;
font-size: 20px;}
@media (max-width: 767.98px){
    .cont2{
        margin-top: 100px;
    }
}
.ring{
    position: relative;
    margin: 10px;
}.box{
    border-radius: 50px;
    margin: 10px;
    height: 150px;
    width:150px;
    position: relative;
}
@media(max-width: 360px) {
    .box{
        width:130px
    }
}
/*........................cart..................*/
.product-header{
    width:100%;
    display:inline-flex;
    padding-top:10px;
    
}.product-title{
    padding-left: 15px;
    width:100%;
    border-bottom: 1px solid lightgray;
    display: flex;
}.price-title{
    width:100%;
    border-bottom:1px solid lightgray;
    display: flex;
}.quantity-title{
    width:100%;
    border-bottom: 1px solid lightgray;
    display: flex;
}.total-title{
    width:100%;
    border-bottom: 1px solid lightgray;
    display: flex;
}.cart-cont{
    width:620px;
    margin-top:130px;
position: absolute;
    
    
    
}@media (max-width: 767.98px){
    .cart-cont{
        width:100%;
        margin-top: 100px
        
    };
}
.cart-cont ion-icon{
    color: royalblue;
}.products{
    width: 100%;
    display:flex;
    border-bottom: 1px solid lightgray;
}.products img{
    width: 75px;
display: flex;
border-bottom: 1px solid lightgray;
}@media (max-width: 767.98px){
    .products img{
        width:50px;
        
    }.product-header{
        font-size: 10px;
    }
}.price{
    width:100%;
    display: flex;
    border-bottom: 1px solid lightgray;
    align-items: center;
    padding-left: 5rem;
}@media(max-width:700.98px){
    .price{
        padding-left: 1rem;
    }
}
.quantity{
    width:100%;
    display: flex;
    border-bottom: 1px solid lightgray;
    align-items: center;
}
.total{
    width:100%;
    display: flex;
    border-bottom: 1px solid lightgray;
    align-items: center;
}.produce{
    border-bottom: 2px solid lightgray;
}.things{
    display: flex;
    width: 100%;
    justify-content: space-between;
}.basketTotalContainer{
    display: flex;
    justify-content: flex-end;
}
/*...............................Form........................*/
form{
    display:flex;
    flex-wrap: wrap;
    ;
}.fill{
    background-color: lightblue;
}.ordered{
    width:75px
}
.header{
    background-color: mistyrose;
    position: fixed;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    z-index: 101;
    margin-top: 135px;
    width: 100%;
    
    
}@media (max-width: 767.98px){
    .header{
        position: fixed;
        overflow-y: hidden;
        overflow-x: auto;
        margin-top: 63px;
    };
}
.header ul li{
    padding: auto;
    margin: 10px;
    float: left;
    white-space: nowrap;
    
}@media (max-width: 767.98px){
    .header ul li{
        display:inline-flex ;
        width:100%;
        padding: 0;
        margin: 10px;
        white-space:nowrap ;
        
    };
}
.header ul li a{
    text-decoration: none;
    padding: 10px;
    margin: 32px 0;
color: black;
font-family: sans-serif;
font-size: 18px;
    
}@media (max-width: 767.98px){
    .header ul li a{
        font-size: 10px;
        padding: 0;
        margin: 0;
        
    };
}
.header ul li a:hover{
    background:linear-gradient(to right, #ffff00 0%, #ff3399 100%);
    border:none;
    border-radius: 50px;
transition: .1s ease-in-out;
}
.index{
    background-image: url(./gold.jpg);
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-attachment: fixed;
}.cont a img:hover{
    border: 2px solid blue;
}
.quote{
position: absolute;
top:50%;
left: 50%;
transform: translate(-50%,-50%);
color: rgb(231, 201, 33);
font-family: sans-serif;
width: 300px;
font-size: 30px;
font-kerning:auto;
background-color: black;
opacity: 0.8;
font-style: italic;
}.author{
    position: absolute;
top:50%;
left: 50%;
transform: translate(20%,190%);
color: white;
font-family: sans-serif;
width: 300px;
font-size: 30px;
color:rgb(231, 201, 33);
font-style:italic;
}@media(max-width: 800px){
    .quote{
        font-size: 20px;
        background-color: black;
        opacity: 0.9;
    }.author{
        font-size: 20px;
        opacity: 0.9;
        transform: translate(-10%,190%);
    }
}
.quotebox{
    position:relative;
}.order{
    padding: 10px;
    width:50%;
    background-color:rgb(40, 40, 105);
    text-align: center;
}.order a{
    text-decoration: none;
    color: wheat;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}.order ion-icon{
    color:wheat
}.add-cart{
    text-decoration: none;
color:gold
}.boom{width:   150px;
    background-color: rgb(40, 40, 105);
    margin-left: 5px;
    border-radius: 50px;
}.boom ion-icon{
    padding-left: 5px;
    font-size: 20px;
    color:gold
}.boom a{
    align-items: center;
    font-size: 20px;
}@media(max-width:800px){
    .boom{
        width:130px
    }
}
.pop{
    position: fixed;
    top:50%;
left: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 200ms ease-in-out;
    border:1px solid ;
    z-index: 10;
    background-color: wheat;
}.pop.active{
    transform: translate(-50%,-50%) scale(1);
}
.mode{
    margin: 10px;
}#overlay{
    position:fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0,0,0, .5);
    pointer-events: none;
}#overlay.active{
    opacity: 1;
    pointer-events: all;
}.pop-header{
    padding: 10px 15px;
    display: flex;
    justify-content: end;
}
.close-button{
    background: none;
    border: none;
    font-size:1.25rem;
    cursor: pointer;
    font-weight: bold;
}
.swiper{
    display: flex;
    width: 300px;
    height: 500px;
    overflow-x:hidden ;
}@media(max-width: 726px){
.swiper{
    display: flex;
    width:400px;
    justify-content: center;
}
}
.swiper-slide img{
    
    width:100%;
    height: 500px;
}@media (max-width: 726px){
.swiper-slide img{
    width:80%
}
}
.quotes{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: rgb(231, 201, 33);
    font-family: sans-serif;
    width: 300px;
    font-size: 30px;
    font-kerning:auto;
    background-color: black;
    opacity: 0.8;
    font-style: italic;
    z-index: 9;}
.h1{
    display: flex;
    justify-content: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: lighter;
    font-size: 20px;
}@media (max-width: 767.98px){
 .h1{
    width:100%
 }.quotes{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: rgb(231, 201, 33);
    font-family: sans-serif;
    width: 243px;
    font-size: 30px;
    font-kerning:auto;
    background-color: black;
    opacity: 0.8;
    font-style: italic;
    z-index: 9;}
}